#header {
  background: #4c3575;
  padding: 15px;
  color: white;
}
.navbar {
  background-color: #7858a6;
}
.atas {
  background-color: #371b58;
}
.alamat {
  margin-bottom: 70px;
}
.judul {
  font-family: Pridi;
  font-size: 40px;
  font: bold;
}
.HMDI {
  text-align: center;
}
.HMDI1 {
  text-align: center;
  font-size: 25px;
}
.imageHMDI {
  width: 30%;
}
.juara {
  font-family: Poppins;
  margin-right: 20px;
}
.footimg {
  width: 50%;
  margin-bottom: 30px;
}
footer {
  position: relative;
  bottom: 0;
  color: white;
  border-top: 4px solid #ff9919;
}
.footer {
  background-color: #5b4b8a;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold;
  padding: 80px 20px 30px 120px;
  margin-top: 80px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-height: 800px) {
  footer {
    position: static;
  }
}
.footer .footer-left {
  width: 40%;
}
.sosmed {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-right: 200px;
  justify-content: space-between;
}
.sosmed a {
  color: white;
}
.ig:hover {
  color: #a91079;
}
.twt:hover {
  color: #3ab0ff;
}
.yt:hover {
  color: red;
}
.footer .footer-center {
  width: 20%;
}
.alamat p a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.alamat p a:hover {
  box-shadow: inset 190px 0 0 0 white;
  color: #5b4b8a;
}
.akademik {
  margin-bottom: 80px;
}
.akademik p a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.akademik p a:hover {
  box-shadow: inset 150px 0 0 0 white;
  color: #5b4b8a;
}
.akademik h3 {
  margin-bottom: 50px;
}
.alumni h3 {
  margin-bottom: 50px;
}
.alumni p a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.alumni p a:hover {
  box-shadow: inset 50px 0 0 0 white;
  color: #5b4b8a;
}
@media screen and (max-width: 880px) {
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: left;
  }
  #header .row .col-6 .text-end {
    display: none;
  }
  #header .row .col-6 {
    width: 100%;
  }
  .footer {
    padding-left: 20px;
    padding-right: 10px;
  }
}
.footer-right h3 {
  margin-bottom: 40px;
}
.footer-right p a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.footer-right p a:hover {
  box-shadow: inset 320px 0 0 0 white;
  color: #5b4b8a;
}
#copyright {
  background: #ff9919;
  padding: 15px 20px 10px 20px;
  color: white;
}
